.input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
}

.input-tag {
    width: 40%;
    height: 3rem;
    border-radius: 0.2rem;
    border: 0.1rem solid rgb(170, 170, 170);
    padding: 0.1rem 0.6rem;
    font-weight: 600;
    font-size: larger;
}

.add-btn {
    width: 5rem;
    height: 3rem;
    border:0.1rem solid rgb(143, 143, 143);
    border-radius: 0.2rem;
    background-color: aqua;
    
}