.input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
}

.task {
    width: 40%;
    height: 2rem;
    font-weight: 600;
    font-size: larger;
    padding: 0.1rem 0.6rem;
}

.remove-btn {
    width: 5rem;
    height: 3rem;
    border-radius: 0.8rem;
    background-color: rgb(18, 18, 18);
    color: white;
}